<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Home","Index","Home")</li>
            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
            <li>@Html.ActionLink("Movimentacao", "Index", "Movimentacao")</li>
            
            @if (WebSecurity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
            }else
            {
                <li>@Html.ActionLink("Logar","Index","Login")</li>
            }

        </ul>
    </div>
</nav>
